.row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  width: 100%;

  + .row-flex {
    margin-top: 5px;
  }
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333333%;
}

.col-1-4, .col-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-4-5 {
  width: 80%;
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}
